<%= form_for(@idea) do |f| %>
    <div class="field">
        What is your name?<br />
        <%= f.text_field :submitter %>
    </div>

    <div class="field">
        What is the name of your idea?<br />
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :tagline %><br />
        <%= f.text_field :tagline %>
    </div>

    <div class="field">
        Describe your idea:<br />
        <%= f.text_field :description %>
    </div>

    <div class="field">
        What resources do you need to be successful? (a skillset, person, access to a technology etc)<br />
        <%= f.text_field :resources %>
    </div>

    <div class="field">
        <%= f.label "This idea will need access to Snowflake (data):" %> <br />
        <%= f.check_box :snowflake_access %> <br />
    </div>

    <div class="field">
        What value will this idea deliver?<br />
        <%= f.text_field :value_delivered %>
    </div>

    <div class="field">
        What is your goal for this idea in the hackathon?<br />
        <%= f.text_field :goal %>
    </div>

    <div class="field">
        How many "people hours" do you estimate it will take to plan, scope and demo?<br />
        <%= f.text_field :hours_estimate %>
    </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>