<% content_for(:title) { @idea.name } %>

<p class="text-center mb-8">
  <%= link_to "Back to Ideas", ideas_path, class: "text-ezgreen" %>
</p>

<h3 class="text-2xl"><%= @idea.tagline %></h3>
<p>Submitted by: <%= @idea.submitter %></p>

<h4 class="mt-6 text-xl font-bold">Description:</h4>
<p><%= @idea.description %></p>

<h4 class="mt-6 text-xl font-bold">What resources do you need to be successful? (a skillset, person, access to a technology etc)</h4>
<p><%= @idea.resources %><p>

<h4 class="mt-6 text-xl font-bold">This idea will need access to Snowflake (data):</h4>
<p><%= @idea.snowflake_access %><p>

<h4 class="mt-6 text-xl font-bold">What value will this idea deliver?</h4>
<p><%= @idea.value_delivered %><p>

<h4 class="mt-6 text-xl font-bold">What is your goal for this idea in the hackathon?</h4>
<p><%= @idea.goal %><p>

<h4 class="mt-6 text-xl font-bold">How many "people hours" do you estimate it will take to plan, scope and demo?</h4>
<p><%= @idea.hours_estimate %><p>

<h4 class="mt-6 text-xl font-bold">Additional Comments:</h4>
<p><%= @idea.additional_comments.presence || "None." %></p>

<div class="my-8">
  <%= link_to "Edit", edit_idea_path(@idea), class: "inline-block px-5 py-3 text-base font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
</p>
