<%= form_for(@event) do |f| %>
  <div>
    <%= f.label :time, class: "block font-bold" %>
    <%= f.date_select :time %>
  </div>

  <div class="mt-6">
    <%= f.label :place, class: "block font-bold" %>
    <%= f.text_field :place %>
  </div>

  <div class="mt-6">
    <%= f.label :agenda, class: "block font-bold" %>
    <%= f.text_area :agenda %>
  </div>

  <div class="mt-6">
    <%= f.label :participants, class: "block font-bold" %>
    <%= f.text_area :participants %>
  </div>

  <div class="mt-6">
    <%= f.label :demo_links, class: "block font-bold" %>
    <%= f.text_area :demo_links %>
  </div>

  <div class="mt-4 mb-8">
    <%= f.submit class: "inline-block px-5 py-3 text-base font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
  </div>
<% end %>
