<p><%= link_to "Back to Events", events_path %></p>
<h1> <%= format_date(@event.time) %> </h1>
<h3> <%= @event.place%> </h3>

<h4>Agenda:</h4>
<pre><%= @event.agenda%></pre>

<h4>Participants:</h4>
<%= @event.participants%>

<h4>Demos:</h4>
<%= @event.demo_links%>

<h4>What's a fun fact that you know?</h4>
<%= @event.silly_answers%>

<div class="projects">
  <h3>Projects:</h3>

  <% @projects.each do |project|%>
    <div class="project">
      <a href=<%=project.links%>><%="#{project.idea.name}: #{project.idea.tagline}"%></a>
      <div class="tagline">
        <%=project.idea.description%>
      </div>
      <%= link_to "Edit Project", edit_event_project_path(@event, project), :method => "get" %>
    </div>
  <% end %>

  <%= button_to "Add a New Project", new_event_project_path(@event), :method => "get", class:"button" %>
</div>

  <%= button_to "Edit Event", edit_event_path, :method => "get", class:"button" %>

