<p><%= link_to "Back to Events", events_path %></p>
<h1> <%= format_date(@event.time) %> </h1>
<h3> <%= @event.place%> </h3>

<h4>Agenda:</h4>
<pre><%= @event.agenda%></pre>

<h4>Participants:</h4>
<%= @event.participants%>

<h4>Demos:</h4>
<%= @event.demo_links%>

<h4>Voting</h4>
<% if @event.voting_not_started? %>
  <p>
    Voting has not yet started. However, you can get a sneaky preview of the
    awards you'll be voting on
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>

<% elsif @event.voting_started? %>
  <p>
    Voting is open! Cast your vote
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>

<% else @event.voting_started? %>
  <p>
    Voting has now finished for this event. You can still have a look at the
    awards and projects
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>
<% end %>

<div class="projects">
  <h3>Projects:</h3>

  <% @projects.each do |project|%>
    <div class="project">
      <h4><%="#{project.idea.name}: #{project.idea.tagline}"%></h4>
      <div class="tagline">
        <%=project.idea.description%>
      </div>
      <% if project.links.present? %>
        <a href="<%=project.links%>">Project Artifact</a>
      <% end %>
      <%= link_to "Edit Project", edit_event_project_path(@event, project), :method => "get" %>
    </div>
  <% end %>

  <%= button_to "Add a New Project", new_event_project_path(@event), :method => "get", class:"button" %>
</div>

  <%= button_to "Edit Event", edit_event_path, :method => "get", class:"button" %>

