<%= content_for(:title) { format_date(@event.time) } %>

<% unless current_page?(root_path) %>
  <p class="text-center">
    <%= link_to "Back to Events", events_path, class: "text-ezgreen" %>
  </p>
<% end %>

<h3 class="mt-8 text-3xl font-bold">Agenda</h3>
<p><%= simple_format @event.agenda %></p>

<h3 class="mt-8 text-3xl font-bold">Participants</h3>
<p><%= simple_format @event.participants %></p>

<h3 class="mt-8 text-3xl font-bold">Demos</h3>
<p><%= @event.demo_links %></p>

<h3 class="mt-8 text-3xl font-bold">Voting</h3>
<% if @event.voting_not_started? %>
  <p class="mt-4">
    Voting has not yet started. However, you can get a sneaky preview of the
    awards you'll be voting on
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>

<% elsif @event.voting_started? %>
  <p class="mt-4">
    Voting is open! Cast your vote
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>

<% else @event.voting_started? %>
  <p class="mt-4">
    Voting has now finished for this event. You can still have a look at the
    awards and projects
    <a href="<%= new_event_vote_path(@event)%>">here</a>.
  </p>
<% end %>

<div>
  <h3 class="mt-8 text-3xl font-bold">Projects</h3>
  <div class="mt-4">
    <h4 class="text-2xl font-semibold">
      <%= link_to "#{project.idea.name}: #{project.idea.tagline}", event_project_path(@event, project), class: "text-ezgreen hover:underline" %>
    </h4>

    <p>
      <%= project.idea.description %>
    </p>

    <% if project.links.present? %>
      <p><a href="<%=project.links%>" target="_blank">Project Artifact</a></p>
    <% end %>
  </div>
</div>

<div class="my-8">
  <%= link_to "Add a New Project", new_event_project_path(@event), class: "inline-block px-5 py-3 text-base font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
  <%= link_to "Edit Event", edit_event_path(@event), class: "inline-block px-5 py-3 font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
</div>
