<% content_for(:title) { "Awards" } %>

<ul>
  <% @awards.each do |award, projects| %>
    <li class="mt-8">
      <h2 class="text-3xl font-bold"><%= award.title %></h2>

      <ol class="mt-2 ml-9 list-decimal leading-loose">
        <% projects.each.with_index do |(votes, project_group), index| %>
          <li>
            <span class="font-semibold">
              <% if @event.voting_finished? %>
                <%= award_place(index) %>:
              <% end %>

              <%= project_group.map do |project| %>
                <% link_to project.name, event_project_path(@event, project), class: "text-ezgreen hover:underline" %>
              <% end.to_sentence.html_safe %>
            </span>

            <% if @event.voting_started? %>
              (<%= pluralize votes, "vote" %>)
            <% end %>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<% if @refresh_interval %>
  <script>
    const originalPage = location.href

    document.addEventListener('turbolinks:load', function() {
      timeoutId = setTimeout(function() {
        if (location.href === originalPage) {
          location.reload();
        }
      }, <%= @refresh_interval * 1000 %>);
    });
  </script>
<% end %>
