<% content_for(:title) { "Awards" } %>

<ul>
  <% @awards.each do |award, projects| %>
    <li class="mt-8">
      <h2 class="text-3xl font-bold"><%= award.title %></h2>

      <ol class="mt-2 ml-9 list-decimal leading-loose">
        <% projects.each.with_index do |project, index| %>
          <li>
            <span class="font-semibold">
              <% if project.event.voting_finished? %>
                <%= award_place(index) %>:
              <% end %>

              <%= link_to project.idea.name, event_project_path(project.event, project), class: "text-ezgreen hover:underline" %>
            </span>

            <% if project.event.voting_started? %>
              (<%= pluralize project.vote_count, "vote" %>)
            <% end %>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>

<% if @refresh_interval %>
  <script>
    const originalPage = location.href

    document.addEventListener('turbolinks:load', function() {
      timeoutId = setTimeout(function() {
        if (location.href === originalPage) {
          location.reload();
        }
      }, <%= @refresh_interval * 1000 %>);
    });
  </script>
<% end %>
