<%= form_for [@event, @project] do |f| %>
    <div class="field">
        <%= f.label "Which idea is project based on?" %><br />
        <%= f.collection_select(
            :idea_id,
            available_ideas_for(@project),
            :id,
            :name,
            { prompt: "Please select the idea this project will work on", include_blank: true },
            { class: "full-width", required: true }
        ) %>
    </div>

    <div class="field">
        <%= f.label "Add any links to your final artifacts" %><br />
        <%= f.text_field :links, value: @project.links %>
    </div>

    <div class="field">
        <%= f.label :additional_comments %><br />
        <%= f.text_field :additional_comments %>
    </div>

    <div class="actions">
        <%= f.submit class: "button" %>
    </div>
<% end %>
