<h2>"<%= state.current_award.title %>"</h2>
<p>Award <%= state.current_award_index + 1 %> of <%= state.awards.size %></p>

<%= form_with(url: "/events/#{state.event.id}/vote", local: true, method: :post) do |f| %>
  <%= f.hidden_field :award_id, value: state.current_award.id %>
  <%= f.hidden_field :username, value: state.username %>

  <%= f.collection_radio_buttons(
    :project_id,
    state.shuffled_projects,
    :id,
    :name,
    {},
    required: true
  ) do |b| %>
    <div class="radio-button-wrapper">
      <%= b.radio_button %>
      <%= b.label %>
      <% if b.object.links.present? %>
        (<a href="<%= b.object.links %>" target="_blank">project artifact</a>)
      <% end %>
    </div>
  <% end %>

  <%= f.submit state.submit_label, name: nil, id: "vote" %>
<% end %>
