<% content_for(:title) { "#{format_month(@event.time)} Voting" } %>

<% if @state.user_finished_voting? %>
  <p class="text-center">Thank you for voting!</p>

<% elsif @state.user_started_voting? %>
  <%= render partial: "voting", locals: { state: @state } %>

<% else %>
  <% if @event.voting_started? %>
    <h2 class="text-3xl font-bold">
      Welcome, we hacked, now we vote!
    </h2>

    <p class="mt-8">
      Voting is now open! You will be voting on the following awards:
    </p>

    <%= render partial: "voting_overview", locals: { state: @state } %>

    <hr/>

    <p class="mt-4 mb-2">To start voting, first enter a username.</p>
    <%= form_with(url: new_event_vote_path(@event), method: :get, local: true) do |f| %>
      <%= f.hidden_field :award_id, value: @state.next_award.id %>
      <%= f.text_field :username, placeholder: "Username", required: true %>

      <%= f.submit "Start voting!", name: nil, id: "start_voting", class: "block mt-4 px-5 py-3 text-base font-medium rounded-md text-white bg-ezgreen hover:bg-ezgreen-dark" %>
    <% end %>

  <% elsif @event.voting_not_started? %>
    <p class="mt-4 mb-2">
    Voting has not yet started - please come back later!
    </p>

    <hr/>

    <p class="mt-4 mb-2">
      You will be voting on the following awards:
    </p>

    <%= render partial: "voting_overview", locals: { state: @state } %>

  <% else %>
    <p class="mt-4 mb-2">
    Voting is over for this event.
    </p>

    <hr/>

    <p class="mt-4 mb-2">
      Participants voted on the following awards:
    </p>

    <%= render partial: "voting_overview", locals: { state: @state } %>
  <% end %>
<% end %>
