<html>
  <head>
    <title>EzHackathons</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %> 
    <%= csrf_meta_tags %>
  <head>
  <body>
    <h1> EzHackathons </h1>
    <h4> Supporting and displaying the ideas and projects for EzCater’s past, present, and upcoming hackathons! </h3>

    <%= button_to "Ideas", ideas_path, :method => "get" %>
    <%= button_to "Projects", projects_path, :method => "get" %>
    <%= button_to "Hackathons", hackathons_path, :method => "get" %>
  </body>
</html>
